body {
    font-family: Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.tutorial {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    font-size: 2em;
}

.play {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    font-size: 2em;
}

.buttons {
    margin-right: auto;
    margin-left: auto;
}
